
.sinnet{
  background-image:url(front/sinnet.png) !important;	
}

.idc{
	background-image:url(front/idc.ico) !important;
}

.building{
	background-image:url(front/building.ico) !important;
}


.floor{
	background-image:url(front/floor.png) !important;
}

.hostroom{
	background-image:url(front/hostroom.png) !important;
}
 
.cabinet_device{
	background-image:url(front/cabinet.png) !important;
}


.cabinet_weak{
	background-image:url(front/weak.ico) !important;
}

.cabinet_strong{
	background-image:url(front/strong.png) !important;
}


.appmnt{
	background-image:url(front/cabinet.png) !important;
}
 
